

<h1>Main page</h1>

@view("menu")

<h3>Цель</h3>
<div>
	Легкий, менее зависимый от внешних библиотек простой сайт. Предназначен для таких систем как RasberryPi.
	Принцип работы: запустился, обработал запрос, вернул ответ, завершился процесс.
	Должна быть возможность развернуть всю цепочку обработки запроса с минимальными затратами.
	Наивысший контроль над ситуацией (вся цепочка - свой легкий сервер, сайт).
</div>



<h3>Принцип сайта</h3>
<div>
	<ul>
		<li>Движок сайта подобен MVC. Есть Контроллеры, Вьюшки, Модели.</li>
		<li>Контроллеры создаются каждый свой в папке Controllers</li>
		<li>Контроллеры прописываются в файле 'Controllers/__init.py__'</li>
		<li>Добавляются маршруты в файл 'Configs/routes'</li>
		<li>'Configs/globalactions' - add Function name for action on each Action</li>
		<li>Вьюшки кладутся в 'Views/{controllername}/{actionname}.zr.html' (название Контроллера без слова 'Controller' на конце), либо в корне Views/</li>
		<li>Во вьюшках можно использовать значение из моделей <span style='font-weight: bold;color: #777;'>'SomeValue = <span style='color: #111;'>@{ value1 }</span>'</span> (без пробелов)</li>
		<li>Во вьюшках можно использовать частичные Вьюшки <span style='font-weight: bold;color: #111;'>@view( "menu" )</span> (без пробелов).</li>
		<li>Частичные вьюшки лежат также как обычные и используют туже модель на странице.</li>
		<li>Model. In Action method use 'self.addToModel(key, obj)' to add an object to a global model (use in View)</li>
	</ul>
</div>